<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap-icons.min.css">

    <script src="tailwindcss/index.global.js"></script>
    <script src="jquery-3.7.1.js"></script>

</head>
<body>

<script th:inline="javascript">

    var myResourceRoot = [[${myResourceRoot}]];
    var rootCountOnBreadcrumb = myResourceRoot.split("/").length
    console.log("myResourceRoot", myResourceRoot)

    const params = new URLSearchParams(window.location.search);
    var resFolder = params.get("path")
    resFolder = (resFolder == null || false) ? "" : resFolder
    console.log("resFolder", resFolder)

    let viewerRules = /*[[${viewerRules}]]*/ [];
    console.log("viewerRules", viewerRules)
</script>

<div class="container">
    <form action="/" method="post" id="myForm" style="display: none">
        <input type="text" id="location" name="location">
        <input type="text" id="filename" name="filename">
        <input type="text" id="type" name="type">
    </form>

    <form action="/viewer" method="post" id="viewerForm" style="display: none">
        <input type="text" id="viewer_location" name="location">

    </form>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item hidden"><a href="#"></a></li>
            <!--<li class="breadcrumb-item active" aria-current="page">Data</li>-->

        </ol>
    </nav>

    <div th:if="${directoryData != null}" class="flex flex-col">

        <ul class="list-group files">

            <th:block th:each="fileInfo : ${directoryData}">

                <li class="list-group-item"
                    th:type="${fileInfo.type}"
                    th:classappend="${fileInfo.type == 'file' ? 'file' : 'directory'}">

                    <th:block th:if="${fileInfo.type == 'directory'}">
                        <i class="bi bi-folder"></i>
                    </th:block>


                    <a class="file no-underline!" th:type="${fileInfo.type}"
                       th:text="${fileInfo.filename}"></a>
                </li>

            </th:block>
        </ul>

    </div>
</div>

<script>

    // breadcrumb processing
    // (() => {
    const breadcrumb = `${myResourceRoot}${resFolder}`
    console.log("breadcrumb", breadcrumb)

    const template = $(".breadcrumb li.breadcrumb-item")
    $(template).remove()
    template.removeClass("hidden")

    let nextPath = "";

    const bd = breadcrumb.split("/")

    for (let [i, b] of bd.entries()) {
            if(b!==""){
                const newOne = template[0].cloneNode(true)
                $(newOne).find("a").text(b)
                if (i < rootCountOnBreadcrumb) {

                    $(newOne).find("a").attr("href", "/")

                } else {

                    let folder = b
                    folder = encodeURIComponent(folder)
                    nextPath = nextPath + "/" + folder
                    $(newOne).find("a").attr("href", `?path=${nextPath}`)

                }
                $(".breadcrumb").append(newOne)
            }
    }


    // for (let i in $("li.breadcrumb-item a")) {
    //     if (i < rootCountOnBreadcrumb) {
    //
    //         $("li.breadcrumb-item a").eq(i).attr("src", "/")
    //
    //     } else {
    //         let folder = $("li.breadcrumb-item a").eq(i).text()
    //         folder = encodeURIComponent(folder)
    //         nextPath = nextPath + "/" + folder
    //         $("li.breadcrumb-item a").eq(i).attr("href", nextPath)
    //     }
    // }
    // })();

    // files processing
    (() => {
        $(".files li.list-group-item a").each(function (e, idx) {
            let type = $(this).attr("type")
            let file = $(this).text()
            let fileEncoded = encodeURIComponent(file)
            let resFolderEncoded = encodeURI(resFolder)
            if (type === "directory") {
                $(this).attr('href', `?path=${resFolderEncoded}/${fileEncoded}`)
            } else if (type === "file") {
                $(this).attr('href', `${resFolderEncoded}/${fileEncoded}`)
            }
        })
    })();

    /*
    from resource foot
    ends with comparing

    no / at the end.
     */

    // $("li.breadcrumb-item a").click(function (e) {
    //     let directory = $(this).text()
    //     let type = "directory"
    //     let index = parseInt($(this).attr("index"))
    //     if (index + 1 > rootCountOnBreadcrumb) {
    //         console.log(index, rootCountOnBreadcrumb, directory)
    //
    //         let breadcrumb = $("li.breadcrumb-item a")
    //         let count = 0;
    //         let fullPathToCur = "";
    //         while (count <= index) {
    //             let t = $(breadcrumb[count]).text()
    //             fullPathToCur += t + "/";
    //             count++;
    //         }
    //         fullPathToCur = fullPathToCur.slice(0, -1)
    //         let filename = "/"
    //
    //
    //         let form = $("#myForm")[0]
    //         $("#location").attr("value", fullPathToCur)
    //         $("#filename").attr("value", filename)
    //         $("#type").attr("value", type)
    //         form.submit()
    //
    //     } else {
    //         window.location = "/"
    //     }
    //
    // })

    $(".files li.list-group-item a").click(function (e) {
        e.preventDefault()
        let href = $(this).attr('href')
        let file = $(this).text()
        let type = $(this).attr("type")
        console.log(file, type)

        if (type === 'directory') {

            let toViewer = false

            for (let r of viewerRules) {
                if (resFolder.endsWith(r)) {
                    toViewer = true
                }
            }

            if (toViewer) {
                const url = `${window.location.origin}/viewer${href}`
                window.open(url,"_blank")
            }else{
                window.location.href = href
            }
        } else if (type === 'file') {

            let origin = window.location.origin
            let url = `${origin}${href}`

            window.open(url,"_blank")

        }
        //    filter images
    })
</script>
</body>
</html>