<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap-icons.min.css">

    <script src="tailwindcss/index.global.js"></script>
    <script src="jquery-3.7.1.js"></script>

</head>
<body>

<div class="container">
    <form action="/" method="post" id="myForm" style="display: none">
        <input type="text" id="location" name="location">
        <input type="text" id="filename" name="filename">
        <input type="text" id="type" name="type">
    </form>

    <form action="/viewer" method="post" id="viewerForm" style="display: none">
        <input type="text" id="viewer_location" name="location">

    </form>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <th:block th:each="lo, stat : ${#strings.arraySplit(myLocation, '/')}">
                <li class="breadcrumb-item"><a href="#" th:index="${stat.index}" th:text="${lo}"></a></li>
                <!--            <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                <!--            <li class="breadcrumb-item"><a href="#">Library</a></li>-->
                <!--            <li class="breadcrumb-item active" aria-current="page">Data</li>-->
            </th:block>
        </ol>
    </nav>

    <div th:if="${directoryData != null}" class="flex flex-col">


        <ul class="list-group files">

            <th:block th:each="fileInfo : ${directoryData}">

                <li class="list-group-item"
                    th:type="${fileInfo.type}"
                    th:classappend="${fileInfo.type == 'File' ? 'file' : 'directory'}">

                    <th:block th:if="${fileInfo.type == 'directory'}">
                        <i class="bi bi-folder"></i>
                    </th:block>

                    <span class="file no-underline! text-[#0d6efd]" th:type="${fileInfo.type}"
                          th:text="${fileInfo.filename}"></span>
                </li>

            </th:block>
        </ul>

    </div>
</div>
<script th:inline="javascript">

    var myResourceRoot = [[${myResourceRoot}]];
    var rootCountOnBreadcrumb = myResourceRoot.split("/").length
    console.log("myResourceRoot", myResourceRoot)

    var myLocation = [[${myLocation}]];
    console.log("myLocation", myLocation)

    let viewerRules = /*[[${viewerRules}]]*/ [];
    console.log(viewerRules)
</script>
<script>
    /*
    from resource foot
    ends with comparing

    no / at the end.
     */

    $("li.breadcrumb-item a").click(function (e) {
        let directory = $(this).text()
        let type = "directory"
        let index = parseInt($(this).attr("index"))
        if (index + 1 > rootCountOnBreadcrumb) {
            console.log(index, rootCountOnBreadcrumb, directory)

            let breadcrumb = $("li.breadcrumb-item a")
            let count = 0;
            let fullPathToCur = "";
            while (count <= index) {
                let t = $(breadcrumb[count]).text()
                fullPathToCur += t + "/";
                count++;
            }
            fullPathToCur = fullPathToCur.slice(0, -1)
            let filename = "/"


            let form = $("#myForm")[0]
            $("#location").attr("value", fullPathToCur)
            $("#filename").attr("value", filename)
            $("#type").attr("value", type)
            form.submit()

        } else {
            window.location = "/"
        }

    })

    $(".files li.list-group-item").click(function (e) {
        let file = $(this).find('span').text()
        let type = $(this).attr("type")
        console.log(file, type)


        if (type === 'directory') {

            let toViewer = false

            for (let r of viewerRules) {
                if (myLocation.endsWith(r)) {
                    toViewer = true
                }
            }

            if (toViewer) {
                let destination = myLocation + "/" + file
                let form = $("#viewerForm")[0]

                $("#viewer_location").attr("value", destination)
                form.submit()
            } else {


                let form = $("#myForm")[0]
                $("#location").attr("value", myLocation)
                $("#filename").attr("value", file)
                $("#type").attr("value", type)

                form.submit()
            }
        } else if (type === 'file') {

            var currentUrl = window.location.href;
            let path = myLocation.replace(myResourceRoot, "").slice(1) + "/"
            let url = currentUrl + path + file
            window.open(url)
            console.log(url)
        }
        //    filter images
    })
</script>
</body>
</html>