<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap-icons.min.css">

    <script src="tailwindcss/index.global.js"></script>
    <script src="jquery-3.7.1.js"></script>
    <style>
        :root {
            --main-text-color: #232323;
            --menu-icon-color: #ff9800;
            --m-skeleton:#e9ecef;
        }

        html, body {
            height: 100%;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            padding-right: 0.2em;
        }

        /* 选择所有奇数元素 */
        ul li.list-group-item:nth-child(odd) {
            background-color: #fefefe !important;
        }

        /* 选择所有偶数元素 */
        ul li.list-group-item:nth-child(even) {
            background-color: #f5f5f5 !important;
        }

        a.file {
            word-wrap: break-word;
            word-break: break-word;
            white-space: normal;
        }
    </style>
</head>

<body class="bg-[#f5f5f5] relative">


<!--to top-->
<div class="to-top fixed right-[20px] bottom-[10px] z-999 w-[40px] h-[40px] flex justify-center items-center
 bg-[#0d6efd] rounded-full" style="display: none">

    <i class="bi bi-arrow-up-short text-[#fff] text-[28px]"></i>
</div>

<!--drawer-->
<div class="offcanvas offcanvas-end w-1/2!" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-[#2196f3]!" id="offcanvasRightLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="drawer-body offcanvas-body p-0!">
        <div class="m-menu-item flex flex-row items-center border-b border-[#dcdcdc]"
             style="padding: 8px var(--bs-offcanvas-padding-x)">
            <i class="text-(--menu-icon-color) bi "></i> <span class="ml-[4px] text-(--main-text-color)">Settings</span>
        </div>
    </div>
</div>

<div class="container pt-[5px]">

    <div class="head flex flex-row items-center">
        <nav aria-label="breadcrumb" class="mt-[10px]! flex-1">
            <ol class="breadcrumb">

                <li class="breadcrumb-item hidden pl-[0.2em]!"><a href="#"></a></li>

            </ol>
        </nav>
        <div id="openDrawer">
            <!--            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle</button>-->
            <i class="bi bi-list text-[1.4em]" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
               aria-controls="offcanvasRight"></i>
        </div>
    </div>

    <div th:if="${directoryData != null}" class="content flex flex-col ">

        <ul class="list-group files">

            <th:block th:each="fileInfo : ${directoryData}">

                <li class="list-group-item flex! flex-row"
                    th:type="${fileInfo.type}"
                    th:classappend="${fileInfo.type == 'file' ? 'file' : 'directory'}">

                    <th:block th:if="${fileInfo.type == 'directory'}">
                        <i class="bi bi-folder2-open text-[#ffc107]"></i>
                    </th:block>
                    <th:block th:if="${fileInfo.type == 'file'}">
                        <i class="bi bi-file-earmark text-[#0d6efd]"></i>
                    </th:block>


                    <a class="file no-underline! flex-1 inline-block ml-[5px] text-[#232323]! text-[1.05em]!"
                       th:type="${fileInfo.type}"
                       th:text="${fileInfo.filename}"></a>
                </li>

            </th:block>
        </ul>

    </div>

    <div class="m-skeleton flex flex-column gap-y-[15px] hidden">
        <div class="w-2/10 h-[20px] bg-(--m-skeleton) rounded-[5px]"></div>
        <div class="w-4/10 h-[20px] bg-(--m-skeleton) rounded-[5px]"></div>
        <div class="w-9/10 h-[20px] bg-(--m-skeleton) rounded-[5px]"></div>
    </div>
</div>

<script th:inline="javascript">

    var myResourceRoot = [[${myResourceRoot}]];
    var rootCountOnBreadcrumb = myResourceRoot.split("/").length
    console.log("myResourceRoot", myResourceRoot)

    const params = new URLSearchParams(window.location.search);
    var resFolder = params.get("path")
    resFolder = (resFolder == null || false) ? "" : resFolder
    console.log("resFolder", resFolder)


    var imagesNumOfOpenViewer = /*[[${imagesNumOfOpenViewer}]]*/ 0;
    console.log("imagesNumOfOpenViewer", imagesNumOfOpenViewer)
</script>
<script>

    // check images whether to viewer
    (() => {

        const imageRegex = /\.(jpg|jpeg|png|gif|bmp|svg|webp|tiff)$/i;
        let matchedCount = 0
        let failedCount = 0
        $('li[type="file"]').each(function (e, i) {
            let text = $(this).find('a').text().toString()
            let extension = text.slice(text.lastIndexOf('.'));
            if (extension.match(imageRegex)) {
                matchedCount++
            }else{
                failedCount++
            }
        })
        console.log("failedCount", failedCount, "matchedCount",matchedCount)
        if(matchedCount > imagesNumOfOpenViewer){
            const url = `${window.location.origin}/viewer${window.location.search}`
            window.location.href = url

        }else{
            // $(".content").removeClass("hidden").addClass("flex")
            // $(".m-skeleton").addClass("hidden")
        }

    })();

    // breadcrumb processing
    (() => {
        const breadcrumb = `${myResourceRoot}${resFolder}`
        console.log("breadcrumb", breadcrumb)

        const template = $(".breadcrumb li.breadcrumb-item")
        $(template).remove()
        template.removeClass("hidden")

        let nextPath = "";

        const bd = breadcrumb.split("/")

        for (let [i, b] of bd.entries()) {
            if (b !== "") {
                const newOne = template[0].cloneNode(true)
                const newOneA = $(newOne).find("a")
                $(newOneA).text(b)
                if (i < rootCountOnBreadcrumb) {

                    $(newOneA).attr("href", "/")

                } else {

                    nextPath = nextPath + "/" + b
                    $(newOneA).attr("href", `?path=${nextPath}`)

                }
                let rawHref = $(newOneA).attr("href")
                $(newOneA).attr("href", encodeURI(rawHref))

                $(".breadcrumb").append(newOne)
            }
        }
    })();

    // menu
    (() => {
        let menu = [
            {
                "title": "Settings",
                "icon": "bi-gear-fill",
                "event": "menuSettings(event)"
            },
            {
                "title": "Open viewer",
                "icon": "bi-images",
                "event": "menuOpenViewer(event)"
            }
        ]

        let body = $(".drawer-body")
        let item = $(body).find(".m-menu-item")
        $(item).remove()

        for (let m of menu) {
            let newItem = item[0].cloneNode(true)
            $(newItem).find("i").addClass(m.icon)
            $(newItem).find("span").text(m.title)
            // $(newItem).on('click',m.event)
            $(newItem).attr("onclick", m.event)
            $(body).append(newItem)
        }

    })();

    // files processing
    (() => {
        $(".files li.list-group-item a").each(function (e, idx) {
            let type = $(this).attr("type")
            let file = $(this).text()
            if (type === "directory") {
                $(this).attr('href', `?path=${resFolder}/${file}`)
            } else if (type === "file") {
                $(this).attr('href', `${resFolder}/${file}`)
            }

            let rawHref = $(this).attr('href')
            $(this).attr('href', encodeURI(rawHref))
        })
    })();

    //icons for files
    (() => {
        const regIconMap = {
            "\\.(jpg|jpeg|png|gif|bmp|svg|webp|tiff)$": "bi-image",
            "\\.(zip|tar|gz|rar|7z|bz2|xz)$": "bi-file-earmark-zip-fill",
            "\\.(sh|java|py)$": "bi-code-slash"
        }
        const fileIconMap = {
            ".css": "bi-filetype-css",
            ".db": "bi-database",
            ".doc": "bi-file-word-fill",
            ".docx": "bi-file-word-fill",
            ".dll": "bi-file-earmark-binary-fill",
            ".exe": "bi-filetype-exe",
            ".html": "bi-filetype-html",
            ".js": "bi-filetype-js",
            ".jsx": "bi-filetype-jsx",
            ".jks": "bi-key-fill",
            ".json": "bi-filetype-json",
            ".java": "bi-filetype-java",
            ".lib": "bi-file-earmark-binary-fill",
            ".mp4": "bi-filetype-mp4",
            ".md": "bi-filetype-md",
            ".pdf": "bi-file-earmark-pdf-fill",
            ".sql": "bi-filetype-sql",
            ".ts": "bi-film",
            ".txt": "bi-file-text",
            ".xml": "bi-filetype-xml",
            ".yaml": "bi-filetype-yml",
            ".yml": "bi-filetype-yml"
        };

        $('li[type="file"]').each(function (e, i) {
            let text = $(this).find('a').text().toString()
            let extension = text.slice(text.lastIndexOf('.'));

            let newIcon = fileIconMap[extension]
            if (newIcon === undefined) {
                for (let k of Object.keys(regIconMap)) {
                    if (extension.match(new RegExp(k, "i"))) {
                        newIcon = regIconMap[k]
                    }
                }
            }

            if (newIcon !== undefined) {
                $(this).find("i").removeClass("bi-file-earmark").addClass(newIcon)
            }
        })
    })();

    function menuSettings(e) {
        console.log("click menuSettings")
    }

    function menuOpenViewer(e) {
        console.log("click menuOpenViewer")
    }

    $(".files li.list-group-item a").click(function (e) {
        e.preventDefault()
        let href = $(this).attr('href')
        let file = $(this).text()
        let type = $(this).attr("type")
        console.log(file, type)

        if (type === 'directory') {
            window.location.href = href
        } else if (type === 'file') {

            let origin = window.location.origin
            let url = `${origin}${href}`

            window.open(url, "_blank")

        }
        //    filter images
    })


    $(".to-top").attr("style", "display:none")


    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.to-top').fadeIn();
            } else {
                $('.to-top').fadeOut();
            }
        });

        $('.to-top').click(function () {
            $('html, body').animate({scrollTop: 0}, 100);
        });
    });

</script>
</body>
</html>